body {
  overflow-y: hidden;
}
.brand-text {
  display: flex;
  flex-basis: auto;
  align-items: center;
}
.brand-text > span {
  margin-left: 5px;
}
.nav-link {
  color: white;
}
.navbar-brand a {
  color: white;
}
.navbar-brand a:hover {
  text-decoration: none;
}
.nav-link a {
  color: white;
}
.white {
  color: white;
}
.nav-link a:hover {
  color: gray;
  text-decoration: none;
}

.scatterToolTip {
  background-color: rgba(255,255,255, 0.7);
  border: 1px solid gray;
  padding: 1rem;
  border-radius: 5px;
}

.scatterToolTip .date {
  font-weight: bold;
}
.scatterToolTip p {
  padding: 0;
  margin: 0;
}
footer  {
  border-top: 1px solid #212529;
  padding-top: 2em;
}
.popover{
  max-width: 90%;
}
.histMonth:hover {
  background-color: white;
  color: gray;
}
@media only screen and (max-width: 767px) {
  .hmap {
    max-width: 100%;
    overflow-x: scroll;
  }
}
