.nav-link {
  color: white;
}
.navbar-brand a {
  color: white;
}
.navbar-brand a:hover {
  text-decoration: none;
}
.nav-link a {
  color: white;
}
.white {
  color: white;
}
.nav-link a:hover {
  color: gray;
  text-decoration: none;
}

@media only screen and (max-width: 767px) {
  .hmap {
    max-width: 100%;
    overflow-x: scroll;
  }
}
