.nav-link {
  color: white;
}
.navbar-brand a {
  color: white;
}
.navbar-brand a:hover {
  text-decoration: none;
}
.nav-link a {
  color: white;
}
.white {
  color: white;
}
.nav-link a:hover {
  color: gray;
  text-decoration: none;
}

.scatterToolTip {
  background-color: rgba(255,255,255, 0.7);
  border: 1px solid gray;
  padding: 1rem;
  border-radius: 5px;
}

.scatterToolTip .date {
  font-weight: bold;
}
footer  {
  border-top: 1px solid #212529;
  padding-top: 2em;
}

@media only screen and (max-width: 767px) {
  .hmap {
    max-width: 100%;
    overflow-x: scroll;
  }
}
